.title-container {
	height: 100%;
	.title {
		text-align: center;
		font-size: 15rem;
		font-family: var(--font-gta);
		letter-spacing: 6rem;
		padding-inline: 10rem;
		height: 100%;
	}
}

.header-pinned {
	margin-bottom: 5rem;
	min-height: 22rem;
	position: relative;
	z-index: 199;
}
