.introduction-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 7rem);
	.left,
	.right {
		width: 50%;
		height: 100%;
	}
	.left {
		display: flex;
		align-items: center;
		justify-content: center;
		.headline {
			font-size: 6rem;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			line-height: 7rem;
			.headline-character {
				transform: translateY(70px);
				transition: transform .5s;
			}
		}
	}
	.right {
		background-color: gray;
	}
}
