.introduction-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 7rem);
	margin-top: 7rem;
	.left,
	.right {
		width: 50%;
		height: 100%;
	}
	.left {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.headline {
			width: 80%;
			.headline-title {
				font-size: 5rem;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
				line-height: 7rem;
				margin-bottom: 2rem;
				.headline-character {
					transform: translateY(115px);
					transition: transform 0.5s;
				}
			}
			.headline-description {
				overflow: hidden;
				line-height: 1.6rem;
				.headline-word {
					transform: translateY(175px);
					transition: transform 0.5s;
				}
			}
		}
	}
	.right {
		display: flex;
		align-items: center;
		justify-content: center;
		.lottie-container {
			width: 90%;
			overflow: hidden;
			.lottie-programmer {
				opacity: 0;
				visibility: hidden;
				// transform: translateX(100%);
			}
		}
	}
}
