header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	transition: cubic-bezier(0.165, 0.84, 0.44, 1) .7s all;
	z-index: 101;
	height: 7rem;
	&.sticky {
		padding: 1rem;
		.burger-container {
			background-color: #fff;
		}
	}
	.logo-container {
		width: 10%;
		a {
			width: 100%;
			height: 2.5rem;
			position: relative;
		}
		img {
			object-fit: contain;
		}
	}
	.burger-container {
		position: relative;
		z-index: 100;
		cursor: pointer;
		color: #a09160;
		border-radius: 50%;
		padding: 1rem;
		// box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

		transition: .3s all;
	}
	.burger-magintizer,
	.logo-container {
		z-index: 110;
	}
}
@media (max-width: 960px) {
	nav,
	#pageMenu {
		display: none !important;
	}
	header {
		top: 3em;
	}
}
