//CSS Variables

$padding-inline-mobile: 1.5rem;
$padding-inline-desktop: 5rem;
$padding-top-mobile: 2.5rem;
$padding-top-desktop: 4.2rem;
$padding-page-desktop: 1.667rem;
$section-space-desktop: 5.5rem;
$section-space-mobile: 2.5rem;
$base-color: #1E1148;
$golden-color: #E49D4A;
$gray-color: #77718F;
$gray-bg: #F3F3F3;
$light-bg: #F1F5F9;
$dark-font: #211D33;
$main-border-radius: 2.3rem;
$cards-border-radius-desktop: .75rem;
$cards-border-radius-mobile: .5rem;
$button-border-radius: 0.667rem;
$button-border-radius-mobile: 0.4rem;
$swiper-arrow-width-mobile: 1.75rem;
$swiper-arrow-width-desktop: 2.75rem;